
.navbar {
    background-color: #f7f7f7 !important;
    -webkit-box-shadow: 0px 2px 9px -5px rgba(140, 140, 140, 1);
    -moz-box-shadow: 0px 2px 9px -5px rgba(140, 140, 140, 1);
    box-shadow: 0px 2px 9px -5px rgba(140, 140, 140, 1);
}


.nav-link {
    padding: .75rem .75rem;
}



@media (max-width: 990px) {
    .navbar-nav > li:first-child {
        margin-top: 1rem;
    }
}
