/* Contact style  */
.contact-form{
    clear:both;
    background: #fff;
    width: 100%;
}
.contact-form .form-control{
    border-radius: .2rem;
}
.contact-form form{
    padding: 10%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -5%;
    text-align: center;
    color: #0062cc;
}
/* End of Contact style */