
.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.5rem;
    display: inline-block;
    margin-top: 3.5rem;
    border-radius: 2.5em;
    transition: all .2s ease-out;
    z-index: 99;
    font-size: 1rem;
    border: none;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-family: Calibri;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 6, 0.2);
}

.btn::after {
    transform: scale(1.4, 1.6);
    opacity: 0;
}

.btn--green {
    background-color: forestgreen;
    color: #d6d6d6;
}
.btn--blue {
    background-color: #094f9b ;
    color: #d6d6d6;
}

.btn--white {
    background: #ffffff;
    color: #1e1e1e;
}


.btn--animated {
    animation: moveToUp .5s ease-out .5s;
    animation-fill-mode: backwards;
}
/* End  Button styles   */


html { 
    scroll-behavior: smooth; 
}
body {
    background: linear-gradient(75deg,  rgba(204, 220, 231, 0.801), #d3d5ff4d);
    color: #514B64;
    min-height: 100vh;
    font-weight: 400;
}

.my-5 {
    margin: 1.5rem 0 !important;
}






